@font-face {
  font-family: "Bandera Pro";
  src: url("../fonts/BanderaPro.woff2") format("woff2"),
    url("../fonts/BanderaPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bandera Pro";
  src: url("../fonts/BanderaPro-Bold.woff2") format("woff2"),
    url("../fonts/BanderaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bandera Pro";
  src: url("../fonts/BanderaProLight.woff2") format("woff2"),
    url("../fonts/BanderaProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bandera Pro";
  src: url("../fonts/BanderaProMedium.woff2") format("woff2"),
    url("../fonts/BanderaProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Captureit";
  src: url("../fonts/Captureit.woff2") format("woff2"),
    url("../fonts/Captureit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}