//====================================================================================================
.footer {
  border-top: 1px solid #c8c4c4;
  // .footer__wrapper
  &__wrapper-desktop {
    @include adaptiveValue("padding-top", 41, 20);
    padding-bottom: 30px;
    background: url("@img/footer.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__wrapper-mobile {
    display: none;
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-bottom", 30, 30);
    @media (max-width: $tablet) {
      display: block;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  &__wrapper-mobileSmall {
    display: none;
    padding-top: 20px;
    padding-bottom: 30px;
    @media (max-width: $mobileSmall) {
      display: block;
    }
  }
  // .footer__row-main
  &__row-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      gap: 44px;
    }
  }
  // .footer__row-main-item
  &__row-main-item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 20, 6);
    @media (max-width: $mobileSmall) {
      gap: 6px;
    }
  }
  &__row-mobileSmall {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__row-mainMobole {
    display: flex;
    justify-content: space-between;
  }
  &__row-main-item:nth-child(1) {
    @include adaptiveValue("gap", 33, 20);
    min-height: 100%;
    @media (max-width: $mobileSmall) {
      gap: 6px;
    }
  }
  // .footer__logo
  &__logo {
    display: block;
    width: 169px;
    @include adaptiveValue("width", 169, 95);
    @include adaptiveValue("height", 100, 56);
    height: 100px;
    background: url("@img/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $mobileSmall) {
      width: 127px;
      height: 74px;
    }
  }
  // .footer__icon-row
  &__icon-row {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 28, 10);
    @media (max-width: $tablet) {
      flex: 1 0 auto;
      align-items: flex-start;
    }
    @media (max-width: $mobileSmall) {
      justify-content: space-between;
      margin-top: 20px;
      align-items: center;
    }
  }
  // .footer__icon
  &__icon.what {
    width: 28px;
    height: 28px;
    @include adaptiveValue("width", 28, 19);
    @include adaptiveValue("height", 28, 19);
    display: block;
    background: url("@img/whatsapp.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__icon.inst {
    width: 28px;
    height: 28px;
    @include adaptiveValue("width", 28, 19);
    @include adaptiveValue("height", 28, 19);
    display: block;
    background: url("@img/inst.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__icon.vk {
    width: 28px;
    height: 19px;
    @include adaptiveValue("width", 28, 19);
    @include adaptiveValue("height", 19, 13);
    display: block;
    background: url("@img/vk.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $tablet) {
      margin-top: 5px;
    }
    @media (max-width: $mobileSmall) {
      margin-top: 0;
    }
  }
  &__icon.mail {
    width: 30px;
    height: 21px;
    @include adaptiveValue("width", 30, 20);
    @include adaptiveValue("height", 21, 14);
    display: block;
    background: url("@img/mail.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $tablet) {
      margin-top: 5px;
    }
    @media (max-width: $mobileSmall) {
      margin-top: 0;
    }
  }
  // .footer__inform
  &__inform {
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 12);
    line-height: 150%;
    font-family: "Lora", serif;
    @media (max-width: $tablet) {
      display: none;
    }
    @media (max-width: $mobileSmall) {
      display: block;
    }
    & p:nth-child(4) {
      font-weight: 600;
      @include adaptiveValue("font-size", 20, 14);
      margin-top: 10px;
    }
  }
  // .footer__mail
  &__mail {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 16px;

    @include adaptiveValue("font-size", 16, 12);
    line-height: 150%;
    @media (max-width: $tablet) {
      display: none;
    }
    @media (max-width: $mobileSmall) {
      display: block;
      margin-top: 20px;
    }
  }
  // .footer__item
  &__item {
    @include adaptiveValue("font-size", 20, 12);
    font-family: "Lora", "serif";
    font-weight: 600;
    line-height: 30px;
  }
  &__item.card {
    @include adaptiveValue("margin-top", 36, 4);
  }
  // .footer__item-link
  &__item-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 10);
    @include adaptiveValue("line-height", 20, 12);
    color: #737272;
  }
  // .footer__card-row
  &__card-row {
    display: flex;
    @include adaptiveValue("gap", 20, 16);
  }
  // .footer__card-item
  &__card-item:nth-child(1) {
    width: 63px;
    height: 40px;
    @include adaptiveValue("width", 63, 47);
    @include adaptiveValue("height", 40, 30);
    display: block;
    background: url("@img/visa.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__card-item:nth-child(2) {
    width: 63px;
    height: 40px;
    @include adaptiveValue("width", 63, 47);
    @include adaptiveValue("height", 40, 30);
    display: block;
    background: url("@img/mastercard.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  // .footer__row-bottom
  &__row-bottom {
    &:nth-child(1) {
      font-family: "Lora", "serif";
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      gap: 28px;
    }
    @media (max-width: $mobileSmall) {
      gap: 20px;
    }
  }
  &__row-bottom div {
    font-family: "Lora", "serif";
    font-weight: 400;
    @include adaptiveValue("font-size", 16, 12);
    line-height: 20px;
  }
  // .footer__link-up
  &__link-up {
    display: flex;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    width: 180px;
    height: 39px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    @media (max-width: $tablet) {
      display: none;
    }
    &:hover {
      background: inherit;
      color:#000000;
    }
  }
  &__link-up span {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    font-family: "Montserrat", sans-serif;
  }
}

.multiItem {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.bloodItem {
  font-family: "Captureit";
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  @include adaptiveValue("font-size", 18, 12);
}
.weGet {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.multiDesktop{
  background: none;
}
//====================================================================================================
