//====================================================================================================
// font-family: 'Inter', sans-serif;
// font-family: 'Markazi Text', sans-serif;
// font-family: 'Montserrat', sans-serif;
.page {
  background: #111111;
  // .page__logo
  &__logo {
    position: absolute;
    top: -0.2%;
    left: 42.5%;
    @media (max-width: 1300px) {
      left: 42%;
    }
    @media (max-width: 1150px) {
      left: 41.5%;
    }
    @media (max-width: 1050px) {
      left: 41%;
    }
    @media (max-width: 1000px) {
      left: 40.5%;
    }
    @media (max-width: 950px) {
      left: 40%;
    }
    @media (max-width: 800px) {
      left: 39%;
    }
    @media (max-width: 750px) {
      left: 39%;
      top: -6%;
    }
    @media (max-width: 650px) {
      left: 38%;
    }
    @media (max-width: 550px) {
      left: 37%;
    }
    @media (max-width: 470px) {
      left: 35.5%;
    }
    @media (max-width: 400px) {
      left: 34%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 143px;
    background: #111111;
    @include adaptiveValue("width", 198, 90);
    @include adaptiveValue("height", 143, 50);
    margin: 0 auto;
  }
  &__logoText {
    width: 135px;
    height: 75px;
    @include adaptiveValue("width", 135, 75);
    @include adaptiveValue("height", 75, 40);
    display: block;
    background: url("@img/logoHome.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  // .page__flex
  &__flex {
    position: relative;
    margin-top: 50px;
    @include adaptiveValue("margin-bottom", 90, 60);
    display: flex;
    gap: 30px;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      @include adaptiveValue("gap", 50, 36);
      margin-top: 100px;
    }
  }
  // .page__left
  &__left {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 36, 15);
  }
  &__rightBorder {
    border-right: 2px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    @include adaptiveValue("padding-bottom", 100, 30);
    @media (max-width: $mobile) {
      border-bottom: 2px solid #fff;
      border-right: none;
    }
  }
  &__leftBorder {
    border-left: 2px solid #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    @include adaptiveValue("padding-bottom", 100, 30);
    @media (max-width: $mobile) {
      border-bottom: 2px solid #fff;
      border-left: none;
    }
  }
  // .page__img
  &__img {
    display: block;
    @include adaptiveValue("width", 575, 100);
    @include adaptiveValue("height", 575, 100);
    background: #111111;
    padding: 0 5px;
    @media (max-width: $mobile) {
      padding: 0px 0px 3px 0px;
    }
    border: 2px solid #fff;
    @media (max-width: $mobile) {
      @include adaptiveValue("width", 575, 300);
      @include adaptiveValue("height", 575, 300);
      width: 536px;
      height: 352px;
    }
  }
  // .page__right
  &__right {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 36, 15);
  }
  // .page__txt
  &__txt {
    align-self: center;
    font-weight: 400;
    @include adaptiveValue("font-size", 50, 10);
    @media (max-width: $mobile) {
      @include adaptiveValue("font-size", 45, 25);
    }
    line-height: 20px;
    color: #fff;
    text-align: center;
    @include adaptiveValue("line-height", 49, 30);
    transition: 0.5s;
  }
}

.backBlood {
  background: url("@img/bloodLogo.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center 100%;
  transition-property: background-image;
  transition-duration: 0.5s;
  @media (max-width: $mobile) {
    background: url("@img/bloodLogoMan.jpg") 50% 100%/132% no-repeat,
      url("@img/bloodHover.jpg") 0 0 / cover no-repeat;
    transition: 0s;
  }
}

.backBlood:hover {
  background-image: url("@img/bloodLogoMan.jpg"), url("@img/bloodHover.jpg");
  background-size: 130%, cover;
  background-position: center 100%, 0 0;
  .page__txt {
    opacity: 0;
  }
}

.backMulti {
  background: url("@img/multiLogo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition-property: background-image;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  @media (max-width: $mobile) {
    background: url("@img/multiLogoSergi.jpg") 50% 0%/80% no-repeat,
      url("@img/multiHover.jpg") 0 0 / cover no-repeat;
    transition: 0s;
  }
}

.backMulti:hover {
  background-image: url("@img/multiLogoSergi.jpg"),
    url("@img/multiHover.jpg");
  background-size: 100%, cover;
  .multi {
    opacity: 0;
  }
}
.blood {
  font-family: "Captureit";
  width: 80%;
  margin: 0 auto;
  @media (max-width: 950px) {
    width: 80%;
  }
  @media (max-width: $mobile) {
    width: 70%;
  }
}

.multi {
  font-family: "Bandera Pro";
  font-weight: 700;
  width: 100%;
}

//====================================================================================================
